<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="./css/style.css">
    </head>
    <body>
        <h1>{{>header}}</h1>
        <p>This is help page. Iam setting this page in handle page.This is content beteen help page. <b>{{content}}</b>. This is emd statment so print this statment for it.</p>
        <p>footer</p>
        <h1>{{>footer}}</h1>
    </body>
</html>